# Mailmap to unify author identities and display canonical student names
Natthakritta Aoktan <nattakritta_ao@cmu.ac.th> RowyMonke <nattakritta_ao@cmu.ac.th>
Natthakritta Aoktan <nattakritta_ao@cmu.ac.th> RowyMonkle <nattakritta_ao@cmu.ac.th>
Nannapat Chaipoon <nannapat_ch@cmu.ac.th> FameNan <nannapat_ch@cmu.ac.th>
Poonyaporn Intaphrom <poonyaporn_in@cmu.ac.th> Poonyaporn <poonyaporn_in@cmu.ac.th>
Pandara Yutiraksa <pandara_yu@cmu.ac.th> pandapandara <pandara_yu@cmu.ac.th>
